<div class="starter">
  <img
    src="https://images.unsplash.com/photo-1521321989933-6eaf18dfc488?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
    class="img-fluid rounded-pill starter-image"
    alt="BMW"
  />
  <div class="starter-text">
    <h3 class="text-muted">{{ translated.h3 }}</h3>
  </div>
</div>
<br />
<hr style="color: red" />
<br />
<div class="row justify-content-center">
  <div class="col-4">
    <input
      type="search"
      class="form-control btn-danger"
      [(ngModel)]="filterValue"
      placeholder="{{ translated.placeholder }}"
    />
    <div class="col-6 text-danger">
      <span>{{ translated.ModelName }}</span>: <b>{{ filterValue }}</b>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-4">
      <a class="btn btn-danger" [routerLink]="['add']">{{ translated.AddNewModel }}</a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">IMAGE</th>
        <th scope="col">MODEL</th>
        <th scope="col">YEAR</th>
        <th scope="col">PRICE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredCars">
        <td>
          <img
            class="img-thumbnail cars-img"
            [src]="item.imageUrl"
            [alt]="item.model"
          />
        </td>
        <td>
          <strong>{{ item.model }}</strong>
        </td>
        <td>
          <strong>{{ item.year }}</strong>
        </td>
        <a [routerLink]="['edit/', item.model]" (click)="onCarEdit(item)">
          <strong>{{ item.price }}</strong>
        </a>
      </tr>
    </tbody>
  </table>
</div>
