<br />
<div class="row" style="color: white">
  <br />
  <div class="col-12">
    <h2 class="text-center mb-4 text-muted">Sign In</h2>
  </div>
  <!-- {{ signInData | json }} -->
  <hr class="divider" style="color: rgba(3, 3, 190, 0.527)" />
  <br />
  <div class="col-6 mx-auto">
    <form
      #signInForm="ngForm"
      (ngSubmit)="onSubmit(signInForm.value)"
      autocomplete="off"
    >
      <div class="alert alert-danger" *ngIf="fireAuthService.hasError">
        <p class="m-0">{{ fireAuthService.hasError }}</p>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <em
          class="required"
          *ngIf="
            signInForm.controls.email?.invalid &&
            (signInForm.controls.email?.touched || mouseOverSignInButton)
          "
          >Required</em
        >
        <input
          type="email"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              signInForm.controls.email?.invalid &&
              (signInForm.controls.email?.touched || mouseOverSignInButton)
          }"
          id="email"
          [(ngModel)]="signInData.email"
          name="email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <em
          class="required"
          *ngIf="
            signInForm.controls.password?.invalid &&
            (signInForm.controls.password?.touched || mouseOverSignInButton)
          "
          >Required</em
        >
        <input
          type="password"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              signInForm.controls.password?.invalid &&
              (signInForm.controls.password?.touched || mouseOverSignInButton)
          }"
          id="password"
          [(ngModel)]="signInData.password"
          name="password"
          required
        />
      </div>
      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="remember"
          [(ngModel)]="signInData.remember"
          name="remember"
        />
        <label class="form-check-label" for="remember">Check me out</label>
      </div>

      <p>
        <button class="btn btn-info" (click)="SignInWithGoogle()" type="button">
          Sign In <i class="fab fa-google"></i>
        </button>
        <a class="btn btn-link" [routerLink]="['/auth/sign-up']">Sign Up</a>
      </p>
      <span
        (mouseenter)="toggleMouseOver(true)"
        (mouseleave)="toggleMouseOver(false)"
      >
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="signInForm.invalid"
        >
          Sign In
        </button>
      </span>
    </form>
  </div>
</div>
<img
  src="https://images.unsplash.com/photo-1563826773-1e2b4b2cde42?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=433&q=80"
  class="rounded mx-auto d-block rounded-pill"
  style="max-width: 300px"
/>
