
<div class="container-fluid">
  <table class="table table-dark">
    <thead>
      <tr >
        <th scope="col">IMAGE</th>
        <th scope="col">NAME</th>
        <th scope="col">LAST NAME</th>
        <th scope="col">EMAIL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a [routerLink]="['/user', user?.email]">
          <img
            class="img-thumbnail cars-img"
            [src]="user?.avatar"
          />  
          </a>
        </td>
        <td>
          <strong>{{ user?.first_name  }}</strong>
        </td>
        <td>
          <strong>{{ user?.last_name  }}</strong>
        </td>
        <td>
          <strong>{{ user?.email }}</strong>
        </td>
      </tr>
    </tbody>
  </table>
</div>