@media screen and (min-width: 500px) {
    .navR {
        display: flex;
        justify-content: center;
        padding-bottom: 0;
        align-items: center;
    }

    
}

#navbarNavAltMarkup {
    .active {
       text-decoration: underline;
       text-decoration-color: #46e1e5;
    }
}